<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Example.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Example.Properties.Settings>
      <setting name="TextBox" serializeAs="String">
        <value>This string will be written to settings as you type</value>
      </setting>
      <setting name="CheckBox" serializeAs="String">
        <value>False</value>
      </setting>
    </Example.Properties.Settings>
  </userSettings>
</configuration>